@media (min-width: 768px) {
  #image-grid .col {
    flex: 0 0 50%; /* Exibe 2 colunas */
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  #image-grid .col {
    flex: 0 0 100%; /* Exibe 1 coluna em telas menores */
    max-width: 100%;
  }
}
